body{
	background-color: #f8f8f8;

}

h1 {
	text-align: center;
}


section {
	text-align: center;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;

}

.contact-container{
	display: inline;
	padding-right: 20px;
	text-align: left;
}

.my-inside {
	width: 50%;
	padding-left: 5px;
	padding-right: 5px;
	float:left;
}

.my-navbar{
	border-bottom-width: 2px;
}

#GitHubDiv{
	width: 360px;
    height: 120px;
    padding-top: 100px;
}

#GitHubImg{
	width: 360px;
    height: 121px;
    vertical-align: inherit;

}

#MailImg{
	width: 150px;
    height: 121px;
    vertical-align: inherit;
}

#my-container{
	overflow: hidden;	
}

@media only screen and (max-device-width: 600px) {
	.my-inside {
		width: 80%;
		float: none;
	}

	#contact-ul{
		padding-right: 20px;
		text-align: center;
	}

}

